<footer>
      <span>Created By <a href="https://desixredthedev.xyz">Desixred</a> | <span class="far fa-copyright"></span> 2021 All rights reserved.<br><a href="/invite">Invite</a> | <a href="/setup-info">Setup Tutorial</a></span>
    </footer>